/* ------ custum fonts ------- */
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueLT-55Rm.woff2") format("woff2"),
    url("../fonts/HelveticaNeueLT-55Rm.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeueBold.woff2") format("woff2"),
    url("../fonts/HelveticaNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2"),
    url("../fonts/Helvetica-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaOblique";
  src: url("../fonts/Helvetica-Oblique.woff2") format("woff2"),
    url("../fonts/Helvetica-Oblique.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Light.woff2") format("woff2"),
    url("../fonts/Helvetica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.woff2") format("woff2"),
    url("../fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* font css ends  */

/******************************************
*******************************************
*************  Main Body CSS  *************
*******************************************
******************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica";
  background-image: url(../img/pattern.jpg);
}
.overflow {
  overflow: hidden;
}
.container {
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
}
.header {
  position: sticky;
  top: 0;
  z-index: 10;
}
.remove-fix {
  position: static;
}
.logo-fix {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 20;
}

/* notification bar starts  */
.notification-bar {
  background-color: #3c4e5a;
  border-top: 2px solid #777777;
  border-bottom: 24px solid #ffffff;
  outline: 1px solid rgb(228, 228, 228);
}
.notification-bar .container {
  display: flex;
  justify-content: space-between;
}
.notification-bar .left-btns {
  display: flex;
  align-items: center;
  align-self: stretch;
}
.notification-bar .left-btns .btns {
  display: flex;
  flex-direction: row;
}
.notification-bar .left-btns a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.notification-bar .left-btns a:hover {
  text-decoration: underline;
}
.notification-bar .ayuda {
  background-color: #ff7500;
  font-size: 13px;
  text-transform: capitalize;
  padding: 6px 9px;
  margin-right: 12px;
  margin-bottom: 1px;
}
.notification-bar .mapa {
  font-size: 12px;
  padding: 5px 0 9px 0;
  margin-right: 12px;
}
.notification-bar .link {
  text-transform: uppercase;
  display: block;
  position: relative;
  top: 2px;
  padding-left: 2px;
  margin-right: 9px;
}
.notification-bar .link span:nth-child(1) {
  font-size: 12px;
  letter-spacing: -4px;
}
.notification-bar .link span:nth-child(2) {
  font-size: 14px;
  letter-spacing: -4px;
}
.notification-bar .link span:nth-child(3) {
  font-size: 15px;
}
.notification-bar .datetime {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.1px;
  border-left: 1px solid white;
  padding: 5px 11px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  top: -2px;
}
.notification-bar .profile-side {
  margin-left: auto;
  display: flex;
  align-items: stretch;
  margin-right: 9px;
}
.notification-bar .profile-side a {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-family: "Titillium Web", sans-serif;
  font-size: 12px;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: -0.13px;
  border-left: 1px solid gray;
  height: 100%;
  padding: 0 8px;
}
.notification-bar .login-btn {
  position: relative;
}
.notification-bar .profile-side .login-btn a {
  padding: 0 2px 0 12px;
}
.notification-bar .profile-side .process-btn a {
  padding: 0 9px 0 5px;
}
.notification-bar .login-btn:after {
  content: "";
  height: 5px;
  width: 5px;
  background-color: rgb(4, 230, 4);
  display: block;
  border-radius: 50px;
  position: absolute;
  right: 5px;
  top: 7px;
}
.notification-bar .login-btn a img {
  margin-left: 8px;
}
.notification-bar.process-btn {
  position: relative;
}
.notification-bar .process-btn a img {
  margin-right: 10px;
}
.notification-bar .arrow-btn {
  position: absolute;
  background-color: #fd7605;
  padding: 1px 20px;
  display: block;
  line-height: 0;
  bottom: -8px;
  left: 50%;
  transform: translatex(-50%);
  clip-path: polygon(100% 0, 92% 99%, 8% 100%, 0 0);
}
/* .notification-bar ends  */

/* logo-bar starts  */
.logo-bar {
  background-color: #f4f4f4;
  padding-block: 12px;
}
.logo-bar .container {
  display: flex;
  align-items: center;
}
.logo-bar .brand-logo img {
  max-height: 80px;
}
.logo-bar .left-logos {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: auto;
}
.logo-bar .left-logos li {
  margin-left: 20px;
}
.logo-bar .toggle-btn {
  margin-left: auto;
  display: none;
  cursor: pointer;
}
/* logo-bar ends  */

/* nav-bar csss starts  */
.navbar {
  background-color: #ff7500;
}
.navbar .container {
  display: flex;
}
.navbar .search-box {
  /* border: 1px solid red; */
  width: 250px;
  border-right: 1px solid #ff9a2a;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .search-box input[type="text"] {
  max-width: 100%;
  width: calc(100% - 44px);
  height: 30px;
  border-radius: 50px;
  font-family: "HelveticaOblique";
  border: none;
  outline: none;
  padding: 0px 10px;
}
.navbar .search-box input[type="submit"] {
  background: url(../img/search_icon.svg);
  width: 44px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  display: block;
  cursor: pointer;
  transition: 0.3s all;
}
.navbar .search-box input[type="submit"]:hover {
  opacity: 0.7;
}
.navbar .navbar-nav {
  list-style: none;
  display: flex;
  align-items: stretch;
  width: calc(100% - 250px);
}
.navbar .navbar-nav > li {
  position: relative;
  border-left: 1px solid #ff9a2a;
}
.navbar .navbar-nav > li:last-child {
  border-right: 1px solid #ff9a2a;
}
.navbar-nav > li > a {
  color: #ffffff;
  padding: 16px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  display: block;
  display: flex;
  white-space: nowrap;
  align-items: center;
  height: 100%;
  transition: 0.3s all;
}
.navbar-nav > li > a:hover {
  background-color: #ff9133;
}
.navbar-nav > li > a > img {
  transition: 0.3s all;
}
.navbar .form-box {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.navbar form {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.navbar form input {
  background-color: #ffffff;
  border: none;
  outline: none;
  padding: 8px 15px;
  border-radius: 50px;
  font-size: 14px;
  font-style: italic;
}
.navbar form button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
  cursor: pointer;
  padding-top: 2px;
  transition: 0.3s all;
  border-radius: 50%;
  padding: 3px 5px;
}
.navbar form button:hover {
  background-color: rgba(255, 255, 255, 0.205);
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  display: block;
  list-style: none;
  background: #3c4e5a;
  min-width: 300px;
  padding: 20px;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}
.dropdown-menu a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  padding: 8px;
  display: block;
  transition: 0.3s all;
}
.dropdown-menu a:hover {
  color: #ff9133;
}
.dropdown:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
}
.dropdown:hover > a > img {
  transform: rotate(-180deg);
}
/* nav bar css ends  */

/* banner sec css starts  */
.banner-section {
  background: #acafbe url("../img/banner.jpg") center no-repeat;
}
.banner-section .container {
  display: flex;
  align-items: center;
  min-height: 452px;
  padding: 25px 25px 25px 100px;
}
.banner-section .container p {
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -2px;
  color: #ff7500;
}
.banner-section .banner-text p span:nth-of-type(1) {
  color: #3d4e5a;
}
.banner-section .banner-text p span:nth-of-type(2) {
  color: #3d4e5a;
  font-size: 34px;
  line-height: 30px;
  font-weight: bold;
}
.banner-section .banner-text p span:nth-of-type(3),
.banner-section .banner-text p span:nth-of-type(5) {
  color: #ff7500;
  font-size: 34px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: -1px;
}
.banner-section .banner-text p span:nth-of-type(4) {
  color: #3d4e5a;
  font-size: 22px;
  line-height: 28px;
  font-weight: 400;
  vertical-align: super;
}
/* banner section ends  */

/* services-section starts  */
.services-section {
  background-color: #ffffff;
  padding: 20px 0;
}
/* top cards  */
.services-section .top-cards {
  margin-top: -125px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.services-section .top-cards .card {
  background-color: #ff7500;
  text-align: center;
  padding: 25px 0px;
  color: #ffffff;
  border-bottom: 4px solid #d84817;
  position: relative;
}
.services-section .top-cards .card p {
  font-family: "Titillium Web", sans-serif;
  font-size: 19px;
  text-transform: uppercase;
}
.services-section .top-cards .card h3 {
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 0.8;
}
/* below cards and forms */
.services-section .content {
  display: flex;
  margin-top: 10px;
}
/* services cards  */
.services-section .service-cards {
  width: 100%;
  max-width: calc(100% - 250px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.services-section .service-cards .card {
  text-align: center;
  padding: 10px 10px;
  position: relative;
}
.services-section .service-cards .card:not(:last-child):after {
  content: " ";
  background-image: url(../img/Forma17copia.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0;
  right: 0;
}
.services-section .service-cards .card h3 {
  color: #ff7500;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  position: relative;
  margin-bottom: 10px;
}
.services-section .service-cards .card h3::after {
  content: "";
  height: 5px;
  width: 10px;
  background-color: #ff7a19;
  display: block;
  clip-path: polygon(100% 0, 0 0, 51% 100%);
  margin: 0 auto;
  margin-top: 10px;
}
.services-section .service-cards .card .img {
  padding: 10px 0;
  position: relative;
}
.services-section .service-cards .card .img::before {
  content: "";
  color: #ff7500;
  background-image: url(../img/logo_icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 65%;
  width: 50px;
  height: 100%;
  z-index: 1;
}
.services-section .service-cards .card .img::after {
  content: "";
  color: #ff7500;
  background-image: url(../img/shadow.png);
  background-position-x: center;
  background-repeat: no-repeat;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 20px;
  z-index: 2;
  display: flex;
}
.services-section .service-cards .card .text {
  margin-top: 20px;
}
.services-section .service-cards .card img {
  border-radius: 50%;
}
.services-section .service-cards .card a {
  text-decoration: none;
  color: #ff7500;
}
.services-section .card .overlay {
  background: linear-gradient(rgba(71, 71, 71, 0.822), rgba(75, 75, 75, 0.836)),
    url("../img/overlay-background.jpg") center no-repeat;
  background-size: cover;
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  transition: 0.3s all;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.services-section .card:hover .overlay {
  height: 100%;
  padding: 10px;
}
.services-section .card .overlay p {
  text-align: center;
  line-height: 1;
  font-size: 21px;
  font-family: "Helvetica";
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 9px;
}
.services-section .card .overlay a {
  background-color: #ff7500;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Helvetica";
  font-weight: 300;
  border: 1px solid white;
  padding: 1px 12px;
  transition: 0.3s all;
}
.services-section .card .overlay a:hover {
  background-color: #c25a00;
}
/* forms  */
.services-section .forms-sec {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-self: baseline;
}
.services-section .forms-sec .buttons {
  display: flex;
  max-width: 100%;
}
.services-section .forms-sec .buttons #formbtn-1 {
  width: 50%;
}
.services-section .forms-sec .buttons #formbtn-2 {
  width: 50%;
}
.services-section .forms-sec .buttons button {
  color: #fff;
  background: #ff7a19;
  cursor: pointer;
  border: none;
  font-size: 11px;
  line-height: 18px;
  font-weight: 500;
  padding: 4px 0px;
  text-transform: capitalize;
  transition: 0.3s linear;
  cursor: pointer;
}
.services-section .forms-sec .buttons button.active {
  background-color: #d9d7d7;
  color: #000;
  opacity: 0.5;
}
.services-section .forms-sec .text p {
  background-color: #636363;
  padding: 4px 0;
  font-size: 11px;
  line-height: 15px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Helvetica";
  text-align: center;
}
.services-section .forms-sec .forms {
  display: none;
  padding: 0 14px 2px 14px;
  box-shadow: 0 0 2px black;
}
.active {
  display: block !important;
}

.services-section .forms-sec .forms form {
  display: flex;
  flex-direction: column;
}
.services-section .forms-sec form label {
  color: #000;
  font-weight: 300;
  line-height: 30px;
  font-size: 14px;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}
.services-section .forms-sec form select {
  height: 27px;
  outline: none;
}
.services-section .forms-sec .forms form input[type="submit"] {
  margin-top: 8px;
  background-color: #ff7a19;
  color: #fff;
  border: none;
  padding: 6px 0px;
}
/* services-section ends  */

/* main section css starts */
.main {
  padding: 10px 0;
}
.main .container {
  display: flex;
}
.main .main-content {
  width: calc(100% - 250px);
  padding-right: 8px;
}

/* Slider starts */
.main .main-content .upper-slider {
  display: flex;
  position: relative;
}
.main .upper-slider .slider {
  width: 50%;
  position: relative;
  height: 100%;
}
.main .upper-slider .slider {
  min-height: 337px;
  height: 100%;
}
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}
.slick-dots li button:before {
  content: none;
}
.main .upper-slider img {
  height: 100%;
  width: 100%;
}
.main .upper-slider .slider-arrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  height: 20px;
  width: auto;
}
.main .upper-slider .left-arrow {
  left: 10px;
}
.main .upper-slider .right-arrow {
  right: 10px;
}
.main .upper-slider .slick-dots {
  position: absolute;
  top: 0;
  height: 30px;
  text-align: center;
}
.main .upper-slider .slick-dots li {
  position: relative;
  margin: 0;
  cursor: pointer;
}
.main .upper-slider .slick-dots li button {
  cursor: pointer;
  height: 4px;
  width: 4px;
  outline: none;
  background: #ffffff;
  opacity: 0.3;
  transition: 0.3s all;
}
.main .upper-slider .slick-dots li button:hover {
  background: #ffffff;
  opacity: 1;
}
.main .upper-slider .slick-dots li.slick-active button {
  background: #ffffff;
  opacity: 1;
}
.main .upper-slider .information {
  width: 50%;
  padding: 20px 10px 10px 10px;
  text-align: center;
}
.main .upper-slider .information .heading {
  font-size: 36px;
  line-height: 66px;
  color: #fd7605;
  font-weight: 600;
  font-family: "Titillium Web";
  text-align: left;
}
.main .upper-slider .information .desc {
  font-size: 14px;
  line-height: 13px;
  color: #fd7605;
  font-weight: bold;
  margin-top: 5px;
  text-align: left;
}
.main .upper-slider .information .para {
  font-size: 13px;
  line-height: 15px;
  color: #454545;
  font-family: "Helvetica";
  text-align: left;
  margin-top: 20px;
}
.main .upper-slider .information .btn {
  font-size: 17px;
  background-color: #ff7a19;
  letter-spacing: 0px;
  line-height: 22px;
  color: #ffffff;
  border: none;
  padding: 4px 10px;
  margin-top: 50px;
  font-weight: bold;
  font-family: "Helvetica";
  box-shadow: 0.07px -0.998px 0px rgba(197, 80, 66, 0.75);
}
/* .upper-slider ends  */

/* below slider starts  */
.main .bottom-slider .below-slider img {
  width: 100%;
  min-height: 180px;
}
.main .bottom-slider .slick-dots {
  position: absolute;
  height: 25px;
  text-align: center;
  bottom: 10px;
}
.main .bottom-slider .slick-dots li {
  position: relative;
  margin: 0;
  cursor: pointer;
}
.main .bottom-slider .slick-dots li button {
  cursor: pointer;
  height: 4px;
  width: 4px;
  outline: none;
  background: #ffffff;
  opacity: 0.3;
  transition: 0.3s all;
  border-radius: 50px;
}
.main .bottom-slider .slick-dots li button:hover {
  background: #ffffff;
  opacity: 1;
}
.main .bottom-slider .slick-dots li.slick-active button {
  background: #ffffff;
  opacity: 1;
}
/* below slider ends  */

.main .banner-ad1 {
  padding: 5px 0;
}
.main .banner-ad1 > img {
  width: 100%;
  height: 100%;
}
.main .banner-ad2 {
  padding: 5px 0;
}
.main .banner-ad2 img {
  width: 100%;
  height: 100%;
}
.main .aside {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: -15px;
}
.main .aside .aside-banners {
  display: flex;
  flex-wrap: wrap;
}
.main .aside .aside-banners img {
  width: 100%;
  margin-bottom: 5px;
}
.main .aside .news-letter {
  background: #fff;
  padding: 10px 10px 5px 10px;
}
.main .aside .news-letter form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.main .aside .news-letter form input[type="text"] {
  height: 28px;
  padding: 4px 10px;
}
.main .aside .news-letter form input[type="submit"] {
  margin-top: 10px;
  text-transform: uppercase;
  padding: 6px;
  color: #fff;
  border: none;
  background-color: #ff7a19;
  font-size: 17px;
  letter-spacing: 0px;
  line-height: 22px;
  font-weight: bold;
  box-shadow: 0.07px -0.998px 0px rgba(197, 80, 66, 0.75);
}
.main .calender {
  background: #fff;
  padding: 10px 10px 20px 10px;
  margin-top: 5px;
}
.main .calender .buttons {
  display: flex;
  width: 100%;
}
.main .calender .buttons #btn-1 {
  width: 50%;
}
.main .calender .buttons #btn-2 {
  width: 50%;
}
.main .calender .buttons button {
  font-size: 12px;
  line-height: 17px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  min-width: 100%;
  background-color: #ff7a19;
  border: none;
  padding: 4px 0px;
}
.main .calender .buttons .active {
  background-color: #636363;
}
.main .calender form {
  margin-top: 10px;
}
.main .calender form input[type="date"] {
  height: 28px;
  width: 100%;
  font-size: 14px;
  line-height: 31px;
  color: #686868;
  font-weight: 300;
  padding: 4px 10px;
  position: relative;
}
/* Hide Calendar Icon In Chrome */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.main .calender form input[type="date"]:before {
  content: "";
  background-image: url(../img/calendar.jpg);
  background-repeat: no-repeat;
  background-position: right;
  height: 100%;
  width: 100%;
  position: absolute;
  right: 12px;
}
.main .twitter {
  margin-top: 10px;
  min-height: 300px;
  max-width: 100%;
  border: 1px solid red;
}
/* main section css ends  */

/* contact css satrts  */
.contact-sec {
  background-color: #3d4e5a;
  padding-bottom: 100px;
}
.contact-sec .container {
  display: flex;
}
.contact-sec .contact-cards {
  max-width: calc(100% - 305px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: baseline;
  padding: 5px 3px;
}
.contact-sec .contact-cards .card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1px;
  padding: 20px 0;
}
.contact-sec .contact-cards .card h3 {
  font-family: "HelveticaNeue";
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  padding: 5px;
}
.contact-sec .contact-cards .card h3 > span {
  font-size: 21px;
  line-height: 22px;
  font-weight: bold;
}
.contact-sec .contact-cards .card:nth-child(even) {
  box-shadow: 0 0 5px #000;
  z-index: 1;
}
.contact-sec .contact-details {
  width: 305px;
  border-left: 1px solid #fff;
  display: flex;
  flex-direction: column;
}
.contact-sec .contact-details .phone-num {
  display: flex;
  padding: 20px 10px 10px;
  border-bottom: 1px solid #fff;
}
.contact-sec .phone-num .content {
  margin-left: 15px;
  color: #fff;
  text-transform: capitalize;
}
.contact-sec .phone-num .content h3 {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}
.contact-sec .phone-num .content h3 > span {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.contact-sec .phone-num .content h2 {
  font-size: 28px;
  letter-spacing: -1px;
  line-height: 28px;
  color: #f87e27;
  font-weight: bold;
}
.contact-sec .phone-num .content h5 {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}
.contact-sec .phone-num .content h4 {
  font-size: 28px;
  line-height: 28px;
  color: #ffffff;
  font-weight: bold;
}
.contact-sec .location {
  display: flex;
  padding: 20px 10px 20px;
  border-bottom: 1px solid #fff;
}
.contact-sec .location .content {
  margin-left: 15px;
  color: #fff;
  text-transform: capitalize;
}
.contact-sec .location .content h3 {
  font-size: 19px;
  line-height: 28px;
  font-weight: bold;
}
.contact-sec .location .content p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}
.contact-sec .directors {
  display: flex;
  padding: 20px 0px 20px 10px;
  border-bottom: 1px solid #fff;
}
.contact-sec .directors .content {
  margin-left: 15px;
  color: #fff;
  text-transform: capitalize;
}
.contact-sec .directors .content h3 {
  font-size: 19px;
  line-height: 28px;
  font-weight: 400;
}
.contact-sec .email-sec {
  display: flex;
  padding: 20px 0px 20px 10px;
}
.contact-sec .email-sec .content {
  margin-left: 15px;
  color: #fff;
  text-transform: capitalize;
}
.contact-sec .email-secrs .content h3 {
  font-size: 19px;
  line-height: 32px;
  font-weight: 500;
}
.contact-sec .email-sec p {
  font-size: 12px;
  text-transform: lowercase;
}
.contact-sec .email-sec p > span {
  color: #fd7605;
}
.contact-sec .email-sec h2 {
  font-size: 28px;
  font-weight: 600;
}
.contact-sec .email-sec .content h5 {
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
}
.contact-sec .email-sec .content h5 a {
  text-decoration: none;
  color: #fff;
}

/* footer css starts  */
.footer .advertisement-bar {
  background-color: #fff;
  padding: 10px 0;
}
.footer .advertisement-bar .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer .advertisement-bar .container img {
  height: 100%;
  margin: 10px;
}
.footer .bottom-footer {
  background-color: #ff7a19;
  padding: 30px 0 60px 0;
}
.footer .bottom-footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.footer .bottom-footer .links {
  width: calc(100% - 240px);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer .bottom-footer .links ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
.footer .bottom-footer .links ul > li > a {
  font-size: 11px;
  line-height: 13px;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-right: 20px;
}
.footer .bottom-footer .site-logo {
  display: flex;
  width: 240px;
}

/* footer css ends  */

/******************************************
*******************************************
*************  Media Queries  *************
*******************************************
******************************************/

@media only screen and (max-width: 980px) {
  .navbar .search-box {
    padding: 0 4px;
  }
  .navbar-nav > li > a {
    padding: 16px 10px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 875px) {
  .navbar .navbar-nav {
    width: calc(100% - 220px);
  }
  .navbar .search-box {
    padding: 0 4px;
    width: 220px;
  }
  .navbar .search-box input[type="submit"] {
    width: 28px;
    height: 44px;
  }
  .navbar-nav > li > a {
    padding: 16px 10px;
  }
}
@media only screen and (max-width: 910px) {
  .navbar-nav > li > a {
    padding: 10px 8px;
    font-size: 12px;
  }
}
@media only screen and (max-width: 810px) {
  .navbar-nav > li > a {
    padding: 9px 7px;
    font-size: 11px;
  }
}

@media only screen and (min-width: 769px) {
  .navbar {
    display: block !important;
  }
}

/******************************************
******************************************* 
For small Devices 
*******************************************
******************************************/
@media only screen and (max-width: 768px) {

  /* Responsive notification-bar starts  */
  .notification-bar .container {
    display: flex;
    flex-direction: column;
  }
  .notification-bar .profile-side {
    margin: 5px 0 0 0;
    padding-block: 5px;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.397);
  }
  .notification-bar .profile-side a {
    border: none;
  }
  .notification-bar .datetime {
    margin-left: auto;
    border: none;
  }

  /* Responsive nav starts  */
  .navbar {
    position: relative;
    z-index: 4;
    overflow: auto;
    height: 100vh;
    display: none;
  }
  .navbar .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .navbar .search-box {
    border: 0;
    width: 100%;
  }
  .navbar.active {
    overflow: auto;
  }
  .navbar .navbar-nav {
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  .navbar .navbar-nav > li {
    border-left: none;
    margin-bottom: 8px;
    width: 100%;
  }
  .navbar .navbar-nav > li a {
    font-size: 14px;
  }
  .navbar .navbar-nav > li:last-child {
    border-right: none;
  }
  .navbar-nav > li > a {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    height: auto;
  }
  .dropdown:hover > a > img {
    transform: rotate(0);
  }
  .dropdown > a > img.active {
    transform: rotate(-180deg);
  }
  .navbar .form-box {
    width: 100%;
    margin-left: 0;
  }
  .navbar .form-box form {
    width: 100%;
  }
  .navbar .form-box input {
    width: 100%;
    max-width: 100%;
  }
  .dropdown-menu {
    position: relative;
    min-width: 100%;
    max-height: 0px;
    padding: 0;
    opacity: 1;
    visibility: visible;
    overflow: auto;
  }
  .dropdown-menu a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 8px;
    display: block;
    transition: 0.3s all;
  }
  .dropdown-menu a:hover {
    color: #ff9133;
  }
  .dropdown-menu.active {
    max-height: 100vh;
  }
  .logo-bar .left-logos {
    display: none;
  }
  .logo-bar .toggle-btn {
    display: block;
    border: none;
    background: none;
  }
  /* responsive nav bar css sends  */

  .banner-section .container {
    display: flex;
    align-items: center;
    min-height: 350px;
    padding: 50px 50px 50px 100px;
  }

  .services-section .top-cards {
    margin-top: -100px;
    grid-template-columns: repeat(2, 1fr);
  }

  /* below cards and forms */
  .services-section .content {
    display: flex;
    flex-direction: column;
  }
  .services-section .service-cards {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
  .services-section .forms-sec {
    width: 100%;
  }

  .main .container {
    display: flex;
    flex-direction: column;
  }
  .main .main-content {
    width: 100%;
    padding-right: 0px;
  }

  .main .upper-slider .information {
    width: 100%;
    padding: 20px 10px 10px 10px;
    text-align: left;
  }
  .main .upper-slider .information .btn {
    margin-top: 25px;
  }

  .main .main-content .upper-slider {
    display: flex;
    flex-direction: column;
  }
  .main .upper-slider .upper-slider {
    width: 100%;
  }
  .main .main-content .upper-slider .slider {
    width: 100%;
  }
  .main .aside {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }

  .contact-sec .container {
    display: flex;
    flex-direction: column;
  }

  .contact-sec .contact-details {
    width: 100%;
    border-left: none;
    display: flex;
    flex-direction: column;
  }
  .contact-sec .contact-details .phone-num {
    border-top: 1px solid #fff;
  }
  .contact-sec .location {
    border-top: 1px solid #fff;
  }
  .contact-sec .directors {
    border-top: 1px solid #fff;
  }
  .contact-sec .email-sec {
    border-top: 1px solid #fff;
  }

  .contact-sec .contact-cards {
    max-width: 100%;
    margin-right: 0px;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-sec .contact-cards .card:nth-child(even) {
    box-shadow: none;
    z-index: 1;
  }

  .footer .bottom-footer .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .footer .bottom-footer .links {
    width: 100%;
    margin-top: 10px;
  }
  .footer .bottom-footer .links ul > li > a {
    margin-top: 10px;
  }

  .footer .bottom-footer .site-logo {
    width: 100%;
    align-items: center;
    /* justify-content: center; */
    padding: 15px 0 0 0;
  }
  .main .aside .aside-banners img {
    width: 50%;
    margin-bottom: 5px;
  }
}

/******************************************
*******************************************
 For V.Small Screens 
*******************************************
******************************************/
@media only screen and (max-width: 480px) {
  /* Responsive notification-bar starts  */
  
  .logo-bar .brand-logo img {
    max-width: 130px;
  }

  .notification-bar{
    position: relative !important;
  }
  .notification-bar .container {
    flex-direction: column;
  }
  .notification-bar .profile a {
    font-size: 10px;
    letter-spacing: -0.23px;
    padding: 0 5px;
  }
  .notification-bar .left-btns {
    flex-direction: column;
    align-items: flex-start;
  }
  .notification-bar .left-btns .btns {
    display: flex;
    flex-direction: row;
  }
  .notification-bar .datetime {
    margin-left: 0;
    margin-top: 5px;
    padding-left: 0;
  }

  /* Responsive notification-bar ends  */

  .footer .bottom-footer .links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
  }

  .services-section .top-cards {
    margin-top: -100px;
    grid-template-columns: repeat(1, 1fr);
  }
  .services-section .service-cards {
    max-width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .services-section .service-cards .card:not(:last-child):after {
    content: none;
  }
  .services-section .service-cards .card .img::before {
    content: "";
    left: 60%;
  }
  .contact-sec .contact-cards .card {
    width: 100%;
  }

  .contact-sec .contact-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-sec .contact-cards .card:nth-child(even) {
    box-shadow: none;
    z-index: 1;
  }

  .main .aside .aside-banners img {
    width: 100%;
    margin-bottom: 5px;
  }

  .banner-section{
    background: #acafbe url(../img/banner-2.jpg) center no-repeat;
    background-size: cover;
  }
  .banner-section .container {
    align-items: flex-start;
    padding: 50px 25px 25px 50px;
  }
  .banner-section .container p {
    font-size: 18px;
  }
  .banner-section .banner-text p span:nth-of-type(2) {
    font-size: 30px;
  }
  .banner-section .banner-text p span:nth-of-type(3),
  .banner-section .banner-text p span:nth-of-type(5) {
    font-size: 30px;
  }
  .banner-section .banner-text p span:nth-of-type(4) {
    font-size: 18px;
  }
}